header {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	padding: 92px 50px 96px 50px;
	align-items: center;
	font-size: 18px;
}

header img {
	width: 148px;
	height: 105px;
}

.header_list {
	display: flex;
	list-style: none;
	gap: 26px;
}

.header_list a {
	text-decoration: none;
	padding-left: 0;
}

.header_list .circle {
	list-style: circle;
	text-decoration: underline;
	text-underline-offset: 4px;
	list-style-position: outside;
	padding-left: 10px;
}

.header_contacts {
	max-width: 240px;
	justify-self: end;
}

.header_contacts a {
	text-underline-offset: 4px;
	font-style: normal;
	line-height: 24.3px;
}

.no_decoration_adress {
	text-decoration: none;
}

.cover {
	position: relative;
	margin-bottom: 180px;
}

.overlay {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	inset: 0;
}

.cover_image {
	background-image: url("../images/cover.jpg");
	background-size: cover;
	width: 100%;
	padding: 165px 50px 50px;
}

.cover_big_text {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 100px;
	font-weight: bold;
	line-height: 1.15;
	letter-spacing: 0.27em;
	gap: 20px;
	margin: 0 0 106px 0;
	position: relative;
	z-index: 2;
}

.cover_big_text span:nth-of-type(1) {
	align-self: left;
}

.cover_big_text span:nth-of-type(2) {
	align-self: center;
}

.cover_big_text span:nth-of-type(3) {
	align-self: end;
}

.cover_description {
	height: 51px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	z-index: 2;
}

.cover_description_text span {
	font-size: 22px;
	line-height: 28px;
	word-spacing: 13px;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

.cover_description_button button {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	padding: 11px 31px 11px 31px;
	font-weight: 500;
	font-size: 22px;
}

.lots {
	width: 100%;
  margin: 0 0 159px 0;
  padding: 0 24px;
}

.lots_header {
	color: black;
	padding: 0 0 25px 40px;
	font-size: 27px;
	font-weight: bold;
}

.lots_cards {
	display: flex;
}

.lots_cards ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 25px;
	list-style: none;
	color: white;
}

.lots_cards_one {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: url(../images/card-lot-01.jpg);
	background-position: center;
	background-size: cover;
	padding: 48px 40px;
	width: 334px;
}

.lots_cards_one a {
	margin-bottom: 274px;
	font-size: 22px;
	line-height: 1.2;
	text-underline-offset: 4px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 2;
}

.lots_cards_one p {
	margin: 0;
	font-size: 20px;
	line-height: 1.2;
	z-index: 2;
}

.lots_cards_two {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: url(../images/card-lot-02.jpg);
	background-position: center;
	background-size: cover;
	padding: 48px 40px;
	width: 334px;
}

.lots_cards_two a {
	margin-bottom: 30px;
	font-size: 22px;
	line-height: 1.2;
	text-underline-offset: 4px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 2;
}

.lots_cards_two p {
	margin: 0;
	font-size: 20px;
	line-height: 1.2;
	z-index: 2;
}

.lots_cards_three {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: url(../images/card-lot-03.jpg);
	background-position: center;
	background-size: cover;
	padding: 48px 40px;
	width: 334px;
}

.lots_cards_three a {
	margin-bottom: 126px;
	font-size: 22px;
	line-height: 1.2;
	text-underline-offset: 4px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 2;
}

.lots_cards_three p {
	margin: 0;
	font-size: 20px;
	line-height: 1.2;
	z-index: 2;
}

.lots_look_more {
	padding: 30px 0 0 40px;
}

.lots_look_more a {
	font-size: 20px;
	text-underline-offset: 4px;
}

.about {
	margin: 0 24px 180px 24px;
}

.about_column {
	display: grid;
	grid-template-columns: 334px 1fr;
	grid-template-rows: 240px 1fr;
}

.about_logo {
	justify-items: center;
	align-content: center;
	justify-self: center;
	align-self: center;
	background-color: black;
	border-radius: 50%;
	width: 240px;
	height: 240px;
}

.about_logo_image {
	width: 148px;
	height: 114px;
}

.about_title {
	justify-items: start;
	align-content: center;
	font-size: 34.188px;
	font-weight: bold;
	margin-left: 25px;
}

.about_text {
	grid-column: 2;
	grid-row: 2;
	line-height: 24px;
	font-size: 20px;
	margin-left: 25px;
}

.about_text p:nth-of-type(1) {
	width: 688px;
}

.about_text p:nth-of-type(2) {
	width: 693px;
}

footer {
	display: grid;
	grid-template-columns: 1fr 164px 1fr;
	margin: 0 50px 82px 50px;
	padding-top: 5px;
}

.footer_contacts {
	max-width: 240px;
	font-size: 18px;
}

.footer_contacts a {
	text-underline-offset: 4px;
	font-style: normal;
	line-height: 24.3px;
}

.footer_menu_list {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

.footer_menu_list_item_none a {
	text-decoration: none;
}

.footer_menu_list_item a {
	text-underline-offset: 4px;
}

.social {
	justify-self: end;
	display: flex;
	gap: 48px;
}

.social_item {
	width: 48px;
	height: 48px;
}
